@import './fonts.css';
@import './main.css';

:root {
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );

  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  --spacing-baseline: 1em;
  --space-xs: calc(0.5 * var(--space-baseline));
  --space-sm: calc(0.75 * var(--spacing-baseline));
  --space-md: calc(1.25 * var(--spacing-baseline));
  --space-lg: calc(2 * var(--spacing-baseline));
  --space-xl: calc(5.25 * var(--space-unit));
  --space-xxl: calc(8.25 * var(--space-unit));

  --font-primary: 'Klavika-light', var(--native-font-fallback);
  /* --font-bold: 'Klavika-bold', var(--native-font-fallback); */
  --native-font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Helvetica Neue', Arial, sans-serif;
  --primary-color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: #0c0c0c;
  color: var(--primary-color);
  font-family: var(--font-primary), var(--native-font-fallback);
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  body,
  html {
    max-width: 100%;
    min-width: 100%;
  }
}
